.background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.92;
    filter: grayscale(20%); 
    height: 100%;
}